*{
  padding: 0;
  margin: 0;
}
body{

}

.cabezera{
  display: block;
  text-align: right;
  padding: 15px;
}

.foto{
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.cabezera a:hover{
  text-decoration: underline;
}

.cabezera a {
  color: black;
  margin: 0 5px;
  font-size: 15px;
  vertical-align: middle;
  text-decoration: none;
}

.cabezera img{
  margin: 0 5px;
  vertical-align: middle;

}

.Cuerpo{
    display: block;
    text-align: center;
    margin: 60px 0;

}

.FormAndButtons{
  display: block;
}

.FormAndButtons p{
  font-size: 12px;
}


.Form{
  border: 1px solid gray;
  display: inline-block;
  padding: 1px;
  margin: 10px 0;
  height: 20px;
}

.Form input{
  border: 0;
  width: 400px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.Form input:focus{
  outline: none; /*Sin linea azul que rodea el input al ser seleccionado*/
}

.Form button{
  vertical-align: top;
  border: none;
  background-color: none;
}

.Form button img{
  height: 15px;
}

.Form form{

    /*box-shadow: 0px 5px 0px 10px gray; */
}

.Botones button{
  background-color: #F4F4F4;
  font-size: 13px;
  border: 1px solid transparent;
  padding: 8px 25px 8px 25px;
  color: #7E807D;
  font-family: cursive;
  margin: 10px 3px;
  border-radius: 2px;
}

.Botones button:hover{
  border: 1px solid black;

}

.foot{
  height: 35px;
  background-color: #F4F4F4;
  color: #7E807D;
  display: block;
  border: 1px solid #C8C8C8;
}

.foot p{
  font-size: 17px;
  margin: 8px 0;
  padding: 0 25px;
}

.foot2{
  background-color: #F4F4F4;
  height: 35px;
  border-left: 1px solid #C8C8C8;
  border-right:  1px solid #C8C8C8;
  border-bottom:  1px solid #C8C8C8;
}

.izquierda{
  display: inline-block;
  float: right;
  margin: 10px 0;
}

.derecha{
  display: inline-block;
  margin: 10px 0;
}

.foot2 a{
  display: inline-block;
  font-size: 17px;
  text-decoration: none;
  color: #7E807D;
  padding: 0 25px;
}

.foot2 a:hover{
  text-decoration: underline;
}

.FormAndButtons p a{
  text-decoration: none;
  color: black;
}

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
